@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

#connect-btn:hover {
  background-color: white !important;
  color: #A02279 !important;
  border: 1px solid #A02279 !important;
}

.bi-star-fill {
  color: #A02279 !important;
  margin-right: 10px !important;
}
